Unattended-Upgrade::Automatic-Reboot "{{ autoupdate_reboot }}";
Unattended-Upgrade::Automatic-Reboot-Time "{{ autoupdate_reboot_time }}";
Unattended-Upgrade::Mail "{{ autoupdate_mail_to }}";
Unattended-Upgrade::MailReport "{{ autoupdate_mail_report }}";
Unattended-Upgrade::MinimalSteps "true";
Unattended-Upgrade::Remove-Unused-Kernel-Packages "true";
Unattended-Upgrade::Remove-Unused-Dependencies "true";
Unattended-Upgrade::Origins-Pattern {
        "origin=*";
};
